/trabalho_escrito.aux
/trabalho_escrito.bbl
/trabalho_escrito.blg
/trabalho_escrito.brf
/trabalho_escrito.glg
/trabalho_escrito.glo
/trabalho_escrito.gls
/trabalho_escrito.idx
/trabalho_escrito.ist
/trabalho_escrito.log
/trabalho_escrito.nlo
/trabalho_escrito.toc
/slides.aux
/slides.bbl
/slides.blg
/slides.log
/slides.nav
/slides.out
/slides.snm
/slides.synctex.gz
/slides.toc
/ABNT_2011.pdf
/Centralidade_em_São_Paulo.bibtex
/Environment_and_Planning.bibtex
/Metropolitan_networks.bibtex
/São_Paulo_crise_e_mudança.bibtex
/a_cidade_do_pensamento_unico.pdf
/abntex2-modelo-glossarios.aux
/abntex2-modelo-glossarios.bbl
/abntex2-modelo-glossarios.blg
/abntex2-modelo-glossarios.brf
/abntex2-modelo-glossarios.glg
/abntex2-modelo-glossarios.glo
/abntex2-modelo-glossarios.gls
/abntex2-modelo-glossarios.idx
/abntex2-modelo-glossarios.ist
/abntex2-modelo-glossarios.log
/abntex2-modelo-glossarios.pdf
/abntex2-modelo-glossarios.synctex.gz
/abntex2-modelo-glossarios.tex
/abntex2-modelo-glossarios.toc
/abntex2-modelo-include-comandos.aux
/asocS1414-753X2001000900009.bib
/bibtemp.bib
/capa.aux
/capa.log
/capa.synctex.gz
/referencias.bib.bak
/trabalho_escrito.synctex.gz
/trabalho_escritoNotes.bib
